<h1>Editing Order</h1>
<%
=begin%>
 <%= link_to 'Back', reservations_path %> 
<%
=end%>
    <%
=begin%>
 <%if @reservation.restaurant_id.nil?%>
    <%= link_to  "edit choose restaurants", restaurants_path%>
  <%else%> 
<%
=end%>
<%
=begin%>
 <h1>Edit <%= @order.name %></h1> 
<%
=end%>
<%= render 'orders/form' %>
<%
=begin%>
 <%end%> 
<%
=end%>