<%-# EDITING DISH VIA RESTAURANT MANAGER-%>
<div class="bg-blurr"></div>
    <div class="bg-text">
        <h1>Editing Food</h1>
    </div>

    <br><br><br><br>
        <h1>Edit <%= :food.name %></h1>
        
        <%= render 'foods/form' %>

    <br>