<h1>Restaurant Index</h1>

<ul>
<% @restaurants.each do |restaurant|%>
<%= image_tag(restaurant.image, size: "200x200", alt: "")%>
<li>
<%= link_to  restaurant.name, restaurant_path(restaurant) %>
<br>
<%= restaurant.category %>
</li>
<br>
<%end%>
</ul>