<h1>Restaurant Index</h1>

<ul>
<% @restaurants.each do |restaurant|%>
<li>
<%= restaurant.name %>
<br>
<%= restaurant.category %>
</li>
<%= link_to  "Click", restaurant_path(restaurant) %>
<%end%>
</ul>