<h1>Show Menu</h1>

<ul>
<% @restaurant.foods.each do |f|%>

<li><%= f.name%></li>
<li><%= f.price%></li>
<%= image_tag(f.image, size: "100x100", alt: "")%>

<%end%>
</ul>

<%= link_to  "Book a table", new_reservation_path(@restaurant) %>