<h1>Show Menu</h1>

<%= link_to  "Book a table", new_reservation_path(@restaurant) %>
<ul>
<% @restaurant.foods.each do |f|%>
<li>
<%= f.name%>
<br>
<img src="<%= f.image%>" width=300>
<br>
<%= f.price%>
</li>
<%end%>
</ul>