// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.restaurants-row{
    display: flex;
    flex-direction: row;
}



.bg-blurr {
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(2px);
  
    /* Full height */
    height: 4%;
  
    /* Center and scale  */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    color: rgba(255, 217, 0, 0.897);
    font-weight: normal;
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 13%;
    padding: 7px;
    text-align: center;
  }