
 <%-# Footer styling -%>
<nav class="absolute-bottom justify-content-center" style="background-color:#333533;color:#F5CB5C;height:20%;">

        <a class="btn btn-outline-secondary my-2 my-sm-0 dropdown-toggle" href="#" id="" role="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:#333533;color:#F5CB5C" >
         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvds-el7cTGBcbZ8hdOjBfWT5t_1uoa6uCvZbmGCK6dK8Y8iAj&s" width="20" height="20" class="d-inline-block align-top" alt=""> Made with passion by:
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#F5CB5C;">
          <a class="dropdown-item" href="https://github.com/Lameesaf">Lamees</a>
          <a class="dropdown-item" href="https://github.com/aishadabbagh">Aisha</a>
          <a class="dropdown-item" href="https://github.com/i23ud">Saud</a>
          <a class="dropdown-item" href="https://github.com/Mohammed9909">Mohammed</a>
          <a class="dropdown-item" href="https://github.com/oalru">Osama</a>
        </div>
      
<div class="footer-copyright text-center py-3">© 2019 Copyright by Silver Blade</div>
</nav>