<footer class="justify-content-center sticky-bottom bg-dark text-light">
<div class="footer-copyright text-center py-3">Created By:</div>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <button class="nav-link bg-dark" style="margin: 3px;" href="https://github.com/Lameesaf">Lamees</button>
  </li>
  <li class="nav-item">
    <button class="nav-link bg-dark" style="margin: 3px;" href="https://github.com/aishadabbagh">Aisha</button>
  </li>
  <li class="nav-item">
    <button class="nav-link bg-dark" style="margin: 3px;" href="https://github.com/i23ud">Saud</button>
  </li>
  <li class="nav-item">
    <button class="nav-link bg-dark" style="margin: 3px;" href="https://github.com/Mohammed9909">Mohammed</button>
  </li>
  <li class="nav-item">
    <button class="nav-link bg-dark" style="margin: 3px;" href="https://github.com/oalru">Osama</button>
  </li>
</ul>
<div class="footer-copyright text-center py-3">© 2019 Copyright</div>
</footer>