<footer class="justify-content-center sticky-bottom text-light" style="background-color:#7575a3;">
<div class="footer-copyright text-center py-3">Created By:</div>
<ul class="nav justify-content-center">
<li class="nav-item">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvds-el7cTGBcbZ8hdOjBfWT5t_1uoa6uCvZbmGCK6dK8Y8iAj&s" width="30" height="30" class="d-inline-block align-top" alt="">
  </li>
  <li class="nav-item">
    <button class="btn-outline-primary" style="margin: 3px;background-color:#fabe58;" href="https://github.com/Lameesaf">Lamees</button>
  </li>
  <li class="nav-item">
    <button class="btn-outline-primary" style="margin: 3px;background-color:#fabe58;" href="https://github.com/aishadabbagh">Aisha</button>
  </li>
  <li class="nav-item">
    <button class="btn-outline-primary" style="margin: 3px;background-color:#fabe58;" href="https://github.com/i23ud">Saud</button>
  </li>
  <li class="nav-item">
    <button class="btn-outline-primary" style="margin: 3px;background-color:#fabe58;" href="https://github.com/Mohammed9909">Mohammed</button>
  </li>
  <li class="nav-item">
    <button class="btn-outline-primary" style="margin: 3px;background-color:#fabe58;" href="https://github.com/oalru">Osama</button>
  </li>
</ul>
<div class="footer-copyright text-center py-3">© 2019 Copyright</div>
</footer>